<ion-toolbar>
  <app-header titulo="Sitios Turisticos" tipoHeader="backsitio"></app-header>
</ion-toolbar>
<ion-toolbar slot="fixed">
  <ion-searchbar animated [(ngModel)]="filtro" (ionChange)="filtrarSitios()"></ion-searchbar>
</ion-toolbar>
<ion-content fullscreen >
  <div *ngIf="!sitiosTiempoReal">
    <ion-card mode="ios" class=" borde-radio-10 ">
      <ion-card-header mode="ios">
        <ion-card-title mode="ios" color="primary"><ion-skeleton-text animated style="width: 88%" class="borde-radio-10"></ion-skeleton-text></ion-card-title>
        <ion-card-subtitle mode="ios" color="secondary"><ion-skeleton-text animated style="width: 60%" class="borde-radio-10"></ion-skeleton-text></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="sitiosTiempoReal">
    <ion-card class=" borde-radio-10 " *ngFor="let sitio of sitiosFiltrados" [routerLink]="['/tabs/sitios/'+ sitio]">  
      
      <ion-grid>
        <ion-card-title  color="dark" id="titulo" class="ion-text-capitalize margin-left">{{sitiosTiempoReal[sitio]?.nombre}}</ion-card-title>          
        <ion-row>
          <ion-col size="6">
            <img  [src]="sitiosTiempoReal[sitio]?.imagen"  class="h-w-140   overflow-none">
          </ion-col>
          <ion-col size="6">
            <div class="biography">
              <p  class="ion-text-justify overflow-ellipsis">{{sitiosTiempoReal[sitio]?.descripcion}}</p>
            </div>
            
          </ion-col>
        </ion-row>
        <ion-card-subtitle  color="dark" id="titulo" class="ion-text-capitalize">{{sitiosTiempoReal[sitio]?.direccion}}</ion-card-subtitle>
      </ion-grid>

      
     
    </ion-card>
  </div>
</ion-content>
