<app-header titulo="Detalle de noticia" tipoHeader="backeventos"></app-header>

<ion-content  >

  <ion-card *ngIf="tipo =='detalleT'" class="ion-padding">
    <ion-item>
      <ion-icon name="calendar-outline" slot="start" color="secondary"></ion-icon>
      <ion-label></ion-label>
      </ion-item>
        <ion-item>
          <ion-icon name="locate-outline" slot="start" color="verde"></ion-icon>
          <ion-label></ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="map-outline" slot="start" color="azul"></ion-icon>
          <ion-label></ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="newspaper-outline" slot="start" color="lila"></ion-icon>
          <ion-label></ion-label>
        </ion-item>
   </ion-card>
</ion-content>




