<app-header titulo="Detalle de noticia" tipoHeader="backeventos"></app-header>

<ion-content  >
  <ion-card *ngIf="user?.administrador" class=" borde-radio-10 ">
    <div class="row center-xs">
      <ion-card  class="w-h-160  overflow-none " >
        <ion-card-content class="w-h-160 overflow-none padding-0 ">
          <img [src]= "rutaArchivo" *ngIf="rutaArchivo"  class="w-h-160  overflow-none ">
          <img [src]= "noticia?.urlImagen" *ngIf="noticia?.urlImagen"  class="w-h-160  overflow-none ">
          <input hidden #file (change)="seleccionarArchivo(file.files)" type="file" name="file"accept="image/*" required [disabled]="something">
          <ion-fab vertical="center" horizontal="center" slot="fixed" >
            <ion-fab-button size="small" edge (click)="file.click()" [disabled]="something"> 
              <ion-icon name="image-outline" ></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card-content>
      </ion-card>
    </div>
  
    <ion-list >
      <ion-item [disabled]="something" >
        <ion-label position="floating" >Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="noticia.nombre" name="nombre" required ></ion-input>
      </ion-item>
      <ion-item [disabled]="something">
        <ion-label position="floating"  >Descripción</ion-label>
        <ion-textarea  [(ngModel)]="noticia.descripcion" name="descripcion" required >
        </ion-textarea>
      </ion-item>
  
      <ion-item [disabled]="something">
        <ion-label>Municipio</ion-label>
        <ion-select value="Municipios" okText="Ok" cancelText="Cancelar" name="municipio"  [(ngModel)]="noticia.lugar"  required>
          <ion-select-option value="Aguachica">Aguachica</ion-select-option>
          <ion-select-option value="Agustín Codazzi">Agustín Codazzi</ion-select-option>
          <ion-select-option value="Bosconia">Bosconia</ion-select-option>
          <ion-select-option value="Chimichagua">Chimichagua</ion-select-option>
          <ion-select-option value="El Copey">El Copey</ion-select-option>
          <ion-select-option value="San Alberto">San Alberto</ion-select-option>
          <ion-select-option value="Curumaní">Curumaní</ion-select-option>
          <ion-select-option value="El Paso">El Paso</ion-select-option>
          <ion-select-option value="La Paz">La Paz</ion-select-option>
          <ion-select-option value="Pueblo Bello">Pueblo Bello</ion-select-option>
          <ion-select-option value="	La Jagua de Ibirico">	La Jagua de Ibirico</ion-select-option>
          <ion-select-option value="Chiriguaná">Chiriguaná</ion-select-option>
          <ion-select-option value="Astrea">Astrea</ion-select-option>
          <ion-select-option value="San Martín">San Martín</ion-select-option>
          <ion-select-option value="Pelaya">Pelaya</ion-select-option>
          <ion-select-option value="Pailitas">Pailitas</ion-select-option>
          <ion-select-option value="Gamarra">Gamarra</ion-select-option>
          <ion-select-option value="Manaure Balcón del Cesar">Manaure Balcón del Cesar</ion-select-option>
          <ion-select-option value="Río de Oro">Río de Oro</ion-select-option>
          <ion-select-option value="Tamalameque">Tamalameque</ion-select-option>
          <ion-select-option value="Becerril">Becerril</ion-select-option>
          <ion-select-option value="San Diego">San Diego</ion-select-option>
          <ion-select-option value="La Gloria">La Gloria</ion-select-option>
          <ion-select-option value="González">González</ion-select-option>
          <ion-select-option value="Valledupar">Valledupar</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item [disabled]="something">
        <ion-label position="floating"  >Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="noticia.direccion" name="direccion" required></ion-input>
      </ion-item>
  
      <ion-item [disabled]="something">
        <ion-label position="floating"  >Teléfono</ion-label>
        <ion-input type="number" [(ngModel)]="noticia.telefono" name="telefono" required></ion-input>
      </ion-item>
  
      <ion-item [disabled]="something">
        <ion-label position="floating"  >Responsable</ion-label>
        <ion-input type="text" [(ngModel)]="noticia.responsable" name="responsable" required></ion-input>
      </ion-item>
  
  
      <ion-item [disabled]="something">
        <ion-label>Fecha de inicio</ion-label>
        <ion-datetime value="2020-02-21" placeholder="Seleccionar fecha" [(ngModel)]="noticia.fechainicio" name="fechainicio" required></ion-datetime>
      </ion-item>
      <ion-item [disabled]="something">
        <ion-label>Fecha Fin</ion-label>
        <ion-datetime value="2020-02-21" placeholder="Seleccionar fecha" [(ngModel)]="noticia.fechafin" name="fechafin" required></ion-datetime>
      </ion-item>
      
      <div class="ion-margin ion-text-center">
        <ion-button  slot="end" fill="outline" color="danger" (click)="eliminarEvento()">
          <ion-icon name="trash-outline" slot="start" color="danger"></ion-icon>
          Eliminar
        </ion-button>
        
          <ion-button  slot="end" fill="outline" color="suceso" (click)="actualizarEvento()" *ngIf="actualizar=='true'">
            <ion-icon name="checkmark-outline" slot="start" color="suceso"></ion-icon>
            Guardar
          </ion-button>
          <ion-button  slot="end" fill="outline" color="suceso" (click)="activarActualizarEvento()" *ngIf="actualizar=='false'">
            <ion-icon name="checkmark-outline" slot="start" color="suceso"></ion-icon>
            Actualizar
          </ion-button>
      </div>
             
    </ion-list>
  
   </ion-card>
   <ion-card *ngIf="!user?.administrador" class=" borde-radio-10 ">
    <ion-title color="dark" id="titulo" class="ion-text-capitalize">{{noticia?.nombre}}</ion-title>
    <ion-card-header>
    <ion-img src="{{noticia?.urlImagen}}"></ion-img>
    </ion-card-header>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start" color="secondary"></ion-icon>
      <ion-label>{{noticia?.fechainicio}} - {{noticia?.fechafin}}</ion-label>
      </ion-item>
        <ion-item>
          <ion-icon name="map-outline" slot="start" color="verde"></ion-icon>
          <ion-label>{{noticia?.lugar}}</ion-label>
        </ion-item>
          <ion-card-content>
  
              {{noticia?.descripcion}}
  
          </ion-card-content>
      
  </ion-card>
</ion-content>





