<div  class="center">

    <ion-card class=" borde-radio-10">
      <div text-center id="user">
        <img src="assets/icon/user.png" alt="" class="user-avatar">
      </div>
      <ion-segment [(ngModel)]="accion" color="secondary">
        <ion-segment-button value="iniciar" id="titulo" >Iniciar</ion-segment-button>
        <ion-segment-button value="registrar" id="titulo">Registrar</ion-segment-button>
      </ion-segment>

     
    
    <div *ngIf="accion =='iniciar'" class="ion-padding">
        <ion-list>
          <ion-item >
            <ion-label position="floating" >Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="correo"></ion-input>
          </ion-item>
          
          <ion-item >
            <ion-label position="floating" >Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
          </ion-item>
          
        </ion-list>
        <br>
          <ion-button expand="block" color="secondary"   (click)="login()" >Iniciar Sesión</ion-button>
        <br>
        <p>
          Ó 
        </p>
        <p>
          Inicia con: 
        </p>
        
        <div class="row margin-0 center-xs">
          <ion-img src="assets/icon/facebook.png" alt="" class="redes" href="#"></ion-img>
           <ion-img src="assets/icon/google.png" alt="" class="redes" href="#"></ion-img>  
        </div>
        
    </div>
    <div *ngIf="accion =='registrar'"  class="ion-padding">
     <br>
    
        <ion-list>
          <ion-item >
            <ion-label position="floating" >Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="correo"></ion-input>
          </ion-item>
          <ion-item >
           <ion-label position="floating">Nombre</ion-label>
           <ion-input type="text" [(ngModel)]="nombre"></ion-input>
         </ion-item>
         <ion-item >
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="apellido"></ion-input>
        </ion-item>

         <ion-item>
          <ion-label>Género</ion-label>
          <ion-select [(ngModel)]="genero" okText="Ok" cancelText="Cancelar">
            <ion-select-option value="Femenino">Femenino</ion-select-option>
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Otro">Otro</ion-select-option>
          </ion-select>
        </ion-item>
          
          <ion-item >
            <ion-label position="floating" >Contraseña</ion-label>
            <ion-input type="password"  [(ngModel)]="contrasena"></ion-input>
          </ion-item>
          
        </ion-list>
       
      <br>
        <ion-button expand="block" color="secondary"   (click)="registro()">Registrarse</ion-button>
      <br>
       <p>
          Ó 
        </p>
        <p>
          Registrate con: 
        </p>
        
        <div class="row margin-0 center-xs">
          <ion-img src="assets/icon/facebook.png" alt="" class="redes" href="#"></ion-img>
           <ion-img src="assets/icon/google.png" alt="" class="redes" href="#"></ion-img>  
        </div>
    
    </div>
    </ion-card>
  
</div>
