<ion-card>
  <ion-card-header>
    <div class="row margin-0 center-xs">
      <!-- <ion-card class="borde-radio-64 margin-bottom-0" mode="ios"> -->
      <img src="assets/icon/user.png" class="avatar-80">
    </div>
    <div class="row margin-0 center-xs">
      <ion-text>
        <small>{{user ? user["email"] : ''}}</small>
      </ion-text>
    </div>
  </ion-card-header>
  <ion-card-content>
    
    
    <ion-list>
      <ion-item >
        <ion-label position="floating" >Usuario</ion-label>
        <ion-input type="text" value="Aqui va el usuarurio" disabled></ion-input>
      </ion-item>
      
      <ion-item >
        <ion-label position="floating" >Nombre</ion-label>
        <ion-input type="text" value="Aqui va el usuarurio" disabled></ion-input>
      </ion-item>
      <br>
        <ion-button expand="block" color="secondary" >Actualizar datos</ion-button>
      <br>
    </ion-list>

  </ion-card-content>
 </ion-card>
