<ion-header>
  <ion-toolbar class="ion-text-capitalize"  center *ngIf="tipoHeader=='backtab3'" color="primary">
       <ion-buttons slot="start">
         <ion-back-button defaultHref="/tabs/tab3" ></ion-back-button>
       </ion-buttons>
       <ion-title  id="titulo" >{{titulo}}</ion-title>
   </ion-toolbar>
   
   <ion-toolbar class="ion-text-capitalize"  center *ngIf="tipoHeader=='backeventos'" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/ultimas-noticias" ></ion-back-button>
    </ion-buttons>
    <ion-title  id="titulo" >{{titulo}}</ion-title>
</ion-toolbar>

   <ion-toolbar class="ion-text-capitalize" center *ngIf="tipoHeader=='menu'" color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" *ngIf="user">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
       <ion-title  id="titulo" >{{titulo}}</ion-title>
   </ion-toolbar>

   <ion-toolbar class="ion-text-capitalize"  center *ngIf="tipoHeader=='backnegocios'" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/negocio" ></ion-back-button>
    </ion-buttons>
    <ion-title  id="titulo" >{{titulo}}</ion-title>
</ion-toolbar>

<ion-toolbar class="ion-text-capitalize"  center *ngIf="tipoHeader=='backsitio'" color="primary">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/tab3" ></ion-back-button>
  </ion-buttons>
  <ion-title  id="titulo" >{{titulo}}</ion-title>
</ion-toolbar>


</ion-header>



