#titulo{
    color: #03AAFE;
    font-family: Merriweather;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}
#icono{
    width: 32px;
    height: 32px;
    margin-right: 2px;;
}

