<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <div><ion-title id="titulo">ExploringApp</ion-title></div>
        </ion-col>
        <ion-col size="1">
        <ion-icon name="notifications-circle-outline" id="icono"></ion-icon>
        </ion-col >
        <ion-col size="1">
          <div>
            <ion-icon name="person-circle-outline" id="icono"></ion-icon>
          </div>
            
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
