<app-header titulo="Registrar Eventos" tipoHeader="backeventos"></app-header>


<ion-content padding="true" >
 <ion-card>

  <div class="row center-xs">
    <ion-card  class="h-w-140  overflow-none " >
      <ion-card-content class="h-w-130 overflow-none padding-0 ">
        <img [src]= "rutaArchivo" *ngIf="rutaArchivo" class="h-w-130 overflow-none">
        <ion-fab-button size="small" vertical="bottom" horizontal="end" slot="fixed" color="primary" edge (click)="file.click()" > 
          <ion-icon name="image-outline" ></ion-icon>
        </ion-fab-button>
        <input hidden #file (change)="seleccionarArchivo(file.files)" type="file" accept="image/*" >
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list>
    <ion-item >
      <ion-label position="floating" >Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating"  >Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Municipio</ion-label>
      <ion-select value="Municipios" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label position="floating"  >Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="direccion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de inicio</ion-label>
      <ion-datetime value="2020-02-21" placeholder="Seleccionar fecha"  [(ngModel)]="fechainicio"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Fecha Fin</ion-label>
      <ion-datetime value="2020-02-21" placeholder="Seleccionar fecha" [(ngModel)]="fechafin"></ion-datetime>
    </ion-item>
    <br>
          <ion-button expand="block" color="secondary" (click)="registrarEventos()" >Guardar</ion-button>
     <br>
 <h4> <ion-text color="primary">Nivel de carga {{pro}}%</ion-text> </h4>

  </ion-list>

 </ion-card>

 
</ion-content>