
  <app-header titulo="Historia" tipoHeader="backtab3"></app-header>
<ion-toolbar slot="fixed">
  <ion-searchbar animated [(ngModel)]="filtro" (ionChange)="filtrarHistorias()"></ion-searchbar>
</ion-toolbar>

<ion-content fullscreen >
 

  <div *ngIf="!historiasTiempoReal">
    <ion-card mode="ios" class=" borde-radio-10 ">
      <ion-card-header mode="ios">
        <ion-card-title mode="ios" color="primary"><ion-skeleton-text animated style="width: 88%" class="borde-radio-10"></ion-skeleton-text></ion-card-title>
        <ion-card-subtitle mode="ios" color="secondary"><ion-skeleton-text animated style="width: 60%" class="borde-radio-10"></ion-skeleton-text></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="historiasTiempoReal">
    <ion-card class=" borde-radio-6" *ngFor="let historia of historiasFiltradas">
      <ion-item>
        <div class="biographyLugar">
          <ion-card-title  color="dark" id="titulo" class="ion-text-capitalize">{{historiasTiempoReal[historia]?.nombre}}</ion-card-title>      
        </div>
      </ion-item>

      <ion-card-content >
        <div class="biographyHistoria">
          <ion-card-subtitle class="ion-text-justify">{{historiasTiempoReal[historia]?.descripcion}}</ion-card-subtitle>
        </div>
      </ion-card-content>
              

    </ion-card>
  </div>
</ion-content>