#titulo{

      font-family: Merriweather;
      font-style: italic;
      font-weight: 700;
      font-display: swap;
    }
    ion-tab-bar{
        --color-selected: #03AAFE !important;
        
    }