
<ion-content [fullscreen]="true"  >
  <ion-header [translucent]="true">
    <app-header></app-header>
  </ion-header>

  <hr>
  <hr>
    <h3 style="text-align: center;">Iniciar Sesión</h3>
    <hr>
  <ion-content>
    
      <ion-list>
        <ion-item id="input_redondeado">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" class="input_redondeado"></ion-input>
        </ion-item>
        
        <ion-item id="input_redondeado">
          <ion-label position="floating" >Contraseña</ion-label>
          <ion-input type="password" ></ion-input>
        </ion-item>
        
        </ion-list>
    
        <ion-button expand="block" id="btn_logueo">Entrar</ion-button>
        <ion-text>
          <hr>
          <p></p>
          <p id="parrafo">Ó</p>
        </ion-text>
        <ion-button fill="outline" expand="block" class="btn_google">Entrar con Google<ion-icon name="logo-google"></ion-icon></ion-button>
        <ion-button  fill="outline" expand="block"  id="btn_registrarse">Registrarse</ion-button>
    </ion-content>
</ion-content>
