<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <!-- <ion-title>Start Menu</ion-title> -->
        
      <div class="row margin-0 center-xs">
   
        <img [src]="user['photoURL']" class="h-w-70  overflow-none borde-radio-50p avatar-70 padding-5">
        
          
        <!-- </ion-card> -->
        <!-- <ion-avatar>
            <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png">
          </ion-avatar> -->
      </div>
    <div class="row margin-0 center-xs">
      <ion-text>
        <small>{{user ? user["email"] : ''}}</small>
        

      </ion-text>
    </div>

    <!-- fin dise;o -->
      </ion-toolbar>

    </ion-header>
    <ion-content>
      <ion-list >
        <ion-menu-toggle >
          <ion-item href="tabs/inicio" *ngIf="user">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>
              Mi Perfil
            </ion-label>
          </ion-item>
          <ion-item href="" disabled *ngIf="!user">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>
              Mi Perfil
            </ion-label>
          </ion-item>
          <ion-item href="" *ngIf="user">
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <ion-label>
              Favoritos
            </ion-label>
          </ion-item>
          <ion-item href="" *ngIf="!user" disabled>
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <ion-label>
              Favoritos
            </ion-label>
          </ion-item>
          <ion-item href="" *ngIf="user">
            <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
            <ion-label>
              PlayList
            </ion-label>
          </ion-item>
          <ion-item href="" *ngIf="!user">
            <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
            <ion-label>
              PlayList
            </ion-label>
          </ion-item>
          <ion-item href="">
            <ion-icon slot="start" name="fast-food-outline"></ion-icon>
            <ion-label>
              Restaurantes
            </ion-label>
          </ion-item>
          <ion-item href="">
            <ion-icon slot="start" name="volume-medium-outline"></ion-icon>
            <ion-label>
              Discotecas
            </ion-label>
          </ion-item>
          <ion-item href="">
            <ion-icon slot="start" name="bed-outline"></ion-icon>
            <ion-label>
              Hoteles
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item (click)="cerrarSesion()" href="" *ngIf="user">

            <ion-icon slot="start" name="exit-outline"></ion-icon>
            <ion-label>
              Cerrar sesión
            </ion-label>
          </ion-item>

            
          
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  
</ion-app>
