<ion-toolbar>
  <app-header titulo="Negocios" tipoHeader="backtab3"></app-header>
</ion-toolbar>
<ion-toolbar slot="fixed">
  <ion-searchbar animated [(ngModel)]="filtro" (ionChange)="filtrarNegocios()"></ion-searchbar>
</ion-toolbar>
<ion-content fullscreen >
 

  <div *ngIf="!negociosTiempoReal">
    <ion-card mode="ios" class=" borde-radio-10 ">
      <ion-card-header mode="ios">
        <ion-card-title mode="ios" color="primary"><ion-skeleton-text animated style="width: 88%" class="borde-radio-10"></ion-skeleton-text></ion-card-title>
        <ion-card-subtitle mode="ios" color="secondary"><ion-skeleton-text animated style="width: 60%" class="borde-radio-10"></ion-skeleton-text></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="negociosTiempoReal">
    <ion-card class=" borde-radio-10 " *ngFor="let negocio of negociosFiltrados">
      <ion-item >
        <ion-icon name="star" slot="end" color="warning" *ngIf="negociosTiempoReal[negocio]?.favorito" (click)="toggleDelete(negociosTiempoReal)"></ion-icon>
        <ion-icon name="star-outline" slot="end" color="warning" *ngIf="!negociosTiempoReal[negocio]?.favorito" (click)="toggleAdd(negociosTiempoReal[negocio], negocio)"></ion-icon>
        <ion-card-title  color="dark" id="titulo" class="ion-text-capitalize">{{negociosTiempoReal[negocio]?.nombre}}</ion-card-title>      
      </ion-item>
     
      <ion-item >
        <ion-icon name="map-outline" slot="start" color="secondary"></ion-icon>
      <ion-card-subtitle>{{negociosTiempoReal[negocio]?.direccion}}</ion-card-subtitle>
      </ion-item>
              
      <ion-item >
        <ion-icon name="trail-sign-outline" slot="start" color="danger"></ion-icon>
      <ion-card-subtitle>{{negociosTiempoReal[negocio]?.tipo}}</ion-card-subtitle>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
