<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>
<ion-segment [(ngModel)]="accion" color="titulo" >
  <ion-segment-button value="todos" id="titulo" >Todos</ion-segment-button>
  <ion-segment-button value="favoritos" id="titulo">Favoritos</ion-segment-button>
</ion-segment>
<ion-content class="background" center *ngIf="accion=='todos'">

<div id="card"><ion-card class="welcome-card" [routerLink]="['/tabs/tab3']" class="background-musica">
  <br>
  <h2>Música</h2>
</ion-card></div>
<div id="card"><ion-card class="welcome-card" [routerLink]="['/tabs/tab3']" class="background-historia">
  <br>
  <h2>Historia</h2>
</ion-card></div>
<div id="card"><ion-card class="welcome-card" [routerLink]="['/tabs/tab3']" class="background-sitio">
  <br>
  <h2>Negocios</h2>
</ion-card></div>

<div id="card"><ion-card class="welcome-card" [routerLink]="['/tabs/tab3']" class="background-negocio">
  <br>
  <h2>Sitios Turisticos</h2>
</ion-card></div>
</ion-content>

<ion-content class="background" center *ngIf="accion=='favoritos'">

<div id="card"><ion-card class="welcome-card" [routerLink]="['/tabs/tab3']" class="background">
  <br>
  <h2>No hay nada en la lista de Favoritos</h2>
</ion-card></div>
</ion-content>