
<ion-toolbar>
  <ion-header [translucent]="true">
    <app-header titulo="temas de interés" tipoHeader="menu"></app-header>
  </ion-header>
</ion-toolbar>

<ion-segment [(ngModel)]="accion" color="primary" >
  <ion-segment-button value="todos" id="titulo" >Todos</ion-segment-button>
 
  <ion-segment-button value="favoritos" id="titulo" *ngIf="user">Favoritos</ion-segment-button>
  <ion-segment-button value="favoritos" id="titulo" *ngIf="!user" disabled >Favoritos</ion-segment-button>
  
</ion-segment>

<ion-content  center *ngIf="accion=='todos'">

  <ion-card class="welcome-card"  >  
        <ion-card-header class="background-eventos"  [routerLink]="['/tabs/eventos']">
          <ion-card-title ><h2>Eventos</h2></ion-card-title>
          <ion-card-subtitle id="subtitle" >Conoce los eventos realizados anualmente</ion-card-subtitle> 
        </ion-card-header> 
  </ion-card>
  <ion-card class="welcome-card"  >  
    <ion-card-header class="background-sitio"  [routerLink]="['/tabs/sitios-turisticos']">
      <ion-card-title ><h2>Sitios Turisticos</h2></ion-card-title>
      <ion-card-subtitle id="subtitle" >Explora más lugares</ion-card-subtitle> 
    </ion-card-header>
  </ion-card>
  <ion-card class="welcome-card"  >  
      <ion-card-header class="background-negocio"  [routerLink]="['/tabs/negocio']">
        <ion-card-title ><h2>Negocios </h2></ion-card-title>
        <ion-card-subtitle id="subtitle" >Conoce más lugares</ion-card-subtitle> 
      </ion-card-header>   
  </ion-card>
  <ion-card class="welcome-card"  >  
        <ion-card-header class="background-musica"  [routerLink]="['/tabs/musica']">
          <ion-card-title ><h2>Musica</h2></ion-card-title>
          <ion-card-subtitle id="subtitle" >Escucha los mejores exitos</ion-card-subtitle> 
        </ion-card-header>
  </ion-card>
  <ion-card class="welcome-card"  >  
        <ion-card-header class="background-historia"  [routerLink]="['/tabs/historia']">
          <ion-card-title ><h2>Historia</h2></ion-card-title>
          <ion-card-subtitle id="subtitle" >Conoce más sobre nuestra historia</ion-card-subtitle> 
        </ion-card-header>
  </ion-card>
</ion-content>


<ion-content center *ngIf="accion=='favoritos'">
    <div *ngIf="negociosFavoritos">
      <ion-toolbar slot="fixed">
        <ion-searchbar animated [(ngModel)]="filtro" (ionChange)="filtrarNegocios()"></ion-searchbar>
      </ion-toolbar>
      <ion-card class=" borde-radio-10 "  *ngFor="let negocio of negociosFiltrados">
 
        <ion-item >
          <ion-icon name="star" slot="end" color="warning"  (click)="toggleDelete(negocio)"></ion-icon>
          <ion-card-title  color="dark" id="titulo" class="ion-text-capitalize">{{negociosFavoritos[negocio]?.nombre}}</ion-card-title>      
        </ion-item>        
        <img  [src]="negociosFavoritos[negocio]?.imagen"  class="w-h-160 overflow-none">          
  
        <ion-item >
          <ion-icon name="map-outline" slot="start" color="secondary"></ion-icon>
        <ion-card-subtitle>{{negociosFavoritos[negocio]?.direccion}}</ion-card-subtitle>
        </ion-item>
                
        <ion-item >
          <ion-icon name="trail-sign-outline" slot="start" color="danger"></ion-icon>
        <ion-card-subtitle>{{negociosFavoritos[negocio]?.tipo}}</ion-card-subtitle>
        </ion-item>
      </ion-card>
  
    </div>   
</ion-content>