<ion-header [translucent]="true">
  <app-header titulo="Noticias" tipoHeader="menu"></app-header>
</ion-header>
<ion-content>
  <ion-card *ngIf="accion =='dejar'">
    <ion-card-content>
      <ion-item>
        <ion-icon name="alert-circle-outline" slot="start" color="warning"></ion-icon>
        <ion-icon name="close-circle-outline" slot="end" color="danger" value="quitar"></ion-icon>
        <ion-label>Alerta COVID-19</ion-label>
        </ion-item>

     <ion-text class="ion-text-justify">Es posible que la información del evento no esté actualizada debido a la crisis del (COVID-19). 
        Ponte en contacto con los organizadores del evento para confirmar la información.</ion-text>
    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/tabs/registrar-eventos']"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>