<ion-header [translucent]="true">
  <app-header titulo="Noticias"></app-header>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
     
      <ion-item>
        <ion-icon name="alert-circle-outline" slot="start" color="danger"></ion-icon>
        <ion-label>Alerta COVID-19</ion-label>
      </ion-item>

     <ion-text class="ion-text-justify">Es posible que la información del evento no esté actualizada debido a la crisis del (COVID-19). 
        Ponte en contacto con los organizadores del evento para confirmar la información.</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
 
      <ion-label><ion-label> </ion-label>15-Ago-2020</ion-label>
      <ion-button fill="outline" slot="end" color="medium">Más</ion-button>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Valledupar Cesar Riendas</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      Fedequinas
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      
      <ion-label><ion-label> </ion-label>20-Sep-2020</ion-label>
      <ion-button fill="outline" slot="end" color="medium">Más</ion-button>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Media Maraton de Valledupar</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      Deportes y recreación
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-item>
      
      <ion-label><ion-label> </ion-label>18-Sep-2020</ion-label>
      <ion-button fill="outline" slot="end" color="medium">Más</ion-button>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Valledupar vs. Cortuluá, Fútbol de Colombia</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      Futbol Ya!
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      
      <ion-label><ion-label> </ion-label>24-Jul-2020</ion-label>
      <ion-button fill="outline" slot="end" color="medium">Más</ion-button>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Valledupar vs. Orsomarso, Fútbol de Colombia</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      Futbol Ya!
    </ion-card-content>
  </ion-card>

 
</ion-content>