
#titulo{
  
  margin: 5px;
  font-family: RobotoSlab;
  font-weight: 500;
  font-display: swap;
}
  
.ion-text-justify{
    text-align: justify;
}

#imagen{
  width: 100%;
  height: 100%;
}

ion-slides {
  height: 100%;
}
$line-height: 1.4;
$lines: 5;

.biography{
    display: block;
    display: -webkit-box;
    height:  $line-height * $lines;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



$linesEvento: 1;

.biographyEvento{
    display: block;
    display: -webkit-box;
    height:  $line-height * $linesEvento;
    line-height: $line-height;
    -webkit-line-clamp: $linesEvento;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  margin: 10px 0 10px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

#text{
  margin: 8px;
}