
<ion-content>
  <ion-card>
    <ion-item>
      <ion-card-title>Festival de la Leyenda Vallenata</ion-card-title>
      <ion-button fill="outline" slot="end" color="medium">Más</ion-button>
    </ion-item>
    
    <ion-card-header>
      <img id="imagen" src="assets/img/festival.png" />
    </ion-card-header>
  
    <ion-card-content>
      El Festival de la Leyenda Vallenata, 
      llamado también Festival Vallenato, es el evento más importante del vallenato.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-card-title>Fiestas Celestiales</ion-card-title>
      <ion-button fill="outline" slot="end" color="medium">Más</ion-button>
    </ion-item>
    <ion-card-header>
      <img id="imagen" src="assets/img/fiestas.png" />
      

    </ion-card-header>
  
    <ion-card-content>
  
      Un evento donde a través 
      del género del vallenato se alaba a Dios con mensajes que llenan el alma y el espíritu.
    </ion-card-content>
  </ion-card>
</ion-content>
